<%- include('./partials/header')%>
<div class="jumbotron">
    <div class="centerForms">
        <form action="/reset/<%= token %>" method="POST">
        	<legend>ResetPassword</legend>
            <div class="form-group">
            	<label for="password">New Password</label>
                <input class="form-control" type="password" name="password" placeholder="Enter your new password" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input class="form-control" type="password" name="confirm" placeholder="Confirm your new password" autofocus>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Reset Password</button>
            </div>
        </form>
        <a href="back">Go Back</a>
    </div>
</div>
<%- include('./partials/footer')%>