<%- include('../partials/header') %>
	<div class="jumbotron">
		<h1 class="center">Add a new campground</h1>
		<div class="centerForms">
			<form method='POST' action='/campgrounds'>
				<div class="form-group">
					<input class='form-control' required type='text' placeholder='Add a campground' name='name'>
				</div>
				<div class="form-group">
					<input class='form-control' type='text' placeholder='Add image URL' name='image'>
				</div>
				<div class="form-group">
					<textarea class='form-control' required type='text' placeholder='Add a description' name='description'></textarea>
				</div>
				<div class="form-group">
					<button class='btn btn-primary btn-block'>Submit</button>
				</div>
			</form>
			<a href='/'>Go back</a>
		</div>
	</div>
<%- include('../partials/footer') %>